@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  line-height: 1.6;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
}
#footer {
  height: 100px;
  background: #333;
}
.sec1 {
  background: red;
}
.sec2 {
  background: orange;
}
.sec3 {
  background: yellow;
}
.sec4 {
  background: green;
}
.section {
  padding: 100px;
}
.section h2 {
  font-size: 3rem;
}
.section p {
  margin-top: 50px;
}

/* 인디케이터 디자인 */
#myMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  z-index: 99;
}

#myMenu li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: 20px 0;
  position: relative;
}

#myMenu li a b {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -57px;
  border: solid #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  width: 160px;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

/* 활성화 표시 */
#myMenu li.active {
  background: pink;
}

#myMenu li.active a b {
  opacity: 1;
  right: -7px;
}
